NEXT_PUBLIC_SUPABASE_URL=https://fepezqcnrqejfiklsljv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZlcGV6cWNucnFlamZpa2xzbGp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5MjAwODEsImV4cCI6MjA3MzQ5NjA4MX0.EQOZ5k3pYcWx3ekA34BseuDjFPKyRQHLlDjJq5w0GAM
NEXT_PUBLIC_WEATHER_API_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
# Get this from your Supabase project: Settings → API → service_role key
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZlcGV6cWNucnFlamZpa2xzbGp2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzkyMDA4MSwiZXhwIjoyMDczNDk2MDgxfQ.ppmLTA9veidLsBiH4oFu6p35Azo1hfvaIyyv-ktL09M
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyD6ibsFTt-pDT60ifmKYwOkJN2YJ2BMJVA
# Get this from @BotFather on Telegram
TELEGRAM_BOT_TOKEN=8830465865:AAHltbYu2O6u9NM8ZQ7EEELykzqiAIg3l64